<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="AllTests">
		<classes>

			<class name="AamazonMaven.Amazon_Maven.homePage" />
			<class name="AamazonMaven.Amazon_Maven.search_product" />
			<class name="AamazonMaven.Amazon_Maven.LanguageTest" />
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->